{{!< default}}

{{!-- The tag above means: insert everything in this file
into the {body} tag of the default.hbs template --}}


{{#post}}
{{!-- Everything inside the #post block pulls data from the page --}}

<header class="title">
        <h1>{{ title }}</h1>
        <hr>
    </header>

    {{ content }}

{{/post}}